@model string
<div class="container-fluid position-relative partial-banner" >
    <div class="container">
        <h2 class="text-center">@Model</h2>
    </div>
</div>
<style>
    .partial-banner{
        background-image: url(/Images/Part_BG.jpg);
        background-position: center;
        height: 300px;
        display: grid;
        align-items: center;
    }
</style>