<div class="container-fluid">
    <div id="topslider1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="display-4 pt-5 mt-5">Dive into the <span style="color: #e94115; font-weight:600">Pulse</span><br /> of Modern Culture</h3>
                        <p class="text-secondary">Lorem Ipsum dolor sit amet</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/Images/imageC1.png" class="w-100" alt="carousel1" />
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="display-4 pt-5 mt-5">Our <span style="color: #e94115; font-weight:600">Sci-Fi</span> & Fantasy Picks</h3>
                        <p class="text-secondary">Lorem Ipsum dolor sit amet</p>
                    </div>
                    <div class="col-lg-6">
                        <img [src]="imagePath" class="w-100" alt="carousel2" />
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#topslider1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topslider1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
